*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

section{
    min-height: 100vh;
    padding: 21px;
}

svg{
    width: 21px;
}

form{
    background-color: rgb(43, 42, 42);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;

    .form-header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 21px;

        img{
            width: 100px;
            height: auto;
        }

    }
    form{
        width: 100%;
        input{
            width: 100%;
            padding: 12px;
            background: none;
            border: 1px solid #ffffff;
            border-radius: 4px;
        }
    }

}